<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/index.css" rel="stylesheet">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <nav class="navbar navbar-default" id="navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand_text" href="#">송골닥터</a>
            </div>
        </nav>
        
        
        <div class="jumbotron" id="main_jumbotron">
            <div class="container">
                <h1>병원 시스템</h1>
                <div>
                    <label for="hosp_id" class="col-sm-2">ID</label>

                    <input type="text" name="hospital_id" id="hosp_id" class="form-control" required="required" title="id">
                    
                    
                    <label for="hosp_pwd" class="col-sm-2">PASSWORD</label>

                    <input type="password" name="hospital_pwd" id="hosp_pwd" class="form-control" required="required" title="password">
                    
                    
                    <button type="button" id="hospital_login" class="btn btn-default">로그인</button>
                    
                    
                </div>
            </div>
        </div>
        

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="/javascripts/index.js"></script>
    </body>
</html>
